/* line 4, ../sass/screen.scss */
.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 99999;
}

/* line 13, ../sass/screen.scss */
.over-loader {
  background: #3396d6;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

/* line 23, ../sass/screen.scss */

/* line 26, ../sass/screen.scss */
/* line 32, ../sass/screen.scss */
/* line 37, ../sass/screen.scss */
/* line 43, ../sass/screen.scss */
/* line 49, ../sass/screen.scss */

/* line 56, ../sass/screen.scss */
.loader-live {
  z-index: 9999991;
  background: #fff;
}

/* line 62, ../sass/screen.scss */
/* line 69, ../sass/screen.scss */
.loader-item.style1 {
  width: 40px;
  height: 40px;
  position: relative;
}
/* line 73, ../sass/screen.scss */
/* line 87, ../sass/screen.scss */
/* line 93, ../sass/screen.scss */
/* line 100, ../sass/screen.scss */
/* line 103, ../sass/screen.scss */
/* line 106, ../sass/screen.scss */
/* line 109, ../sass/screen.scss */
/* line 112, ../sass/screen.scss */
/* line 121, ../sass/screen.scss */
/* line 127, ../sass/screen.scss */
/* line 139, ../sass/screen.scss */
/* line 144, ../sass/screen.scss */
.loader-item.style5 {
  width: 70px;
  text-align: center;
}
/* line 150, ../sass/screen.scss */
.loader-item.style5 > div {
  width: 18px;
  height: 18px;
  background-color: #3396d6;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
/* line 161, ../sass/screen.scss */
.loader-item.style5 .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
/* line 166, ../sass/screen.scss */
.loader-item.style5 .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
/* line 171, ../sass/screen.scss */
/* line 175, ../sass/screen.scss */
/* line 183, ../sass/screen.scss */
/* line 187, ../sass/screen.scss */
/* line 191, ../sass/screen.scss */
/* line 195, ../sass/screen.scss */
/* line 199, ../sass/screen.scss */
/* line 203, ../sass/screen.scss */
/* line 207, ../sass/screen.scss */
/* line 211, ../sass/screen.scss */
/* line 215, ../sass/screen.scss */
/* line 220, ../sass/screen.scss */
/* line 223, ../sass/screen.scss */
/* line 233, ../sass/screen.scss */
/* line 236, ../sass/screen.scss */
/* line 244, ../sass/screen.scss */
/* line 247, ../sass/screen.scss */
/* line 268, ../sass/screen.scss */
/* line 271, ../sass/screen.scss */
/* line 279, ../sass/screen.scss */
/* line 285, ../sass/screen.scss */
/* line 291, ../sass/screen.scss */
/* line 297, ../sass/screen.scss */
/* line 300, ../sass/screen.scss */
/* line 303, ../sass/screen.scss */
/* line 311, ../sass/screen.scss */
/* line 316, ../sass/screen.scss */
/* line 319, ../sass/screen.scss */
/* line 322, ../sass/screen.scss */
/* line 325, ../sass/screen.scss */

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes line-scale {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.4);
  }
}
@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes ball-zig-deflect {
  17%, 84% {
    transform: translate(-15px, -30px);
  }
  34%, 67% {
    transform: translate(15px, -30px);
  }
  100%, 50% {
    transform: translate(0px, 0px);
  }
}
@keyframes ball-zag-deflect {
  17%, 84% {
    transform: translate(15px, 30px);
  }
  34%, 67% {
    transform: translate(-15px, 30px);
  }
  100%, 50% {
    transform: translate(0px, 0px);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scale {
  30% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ball-triangle-path-1 {
  33% {
    transform: translate(25px, -50px);
  }
  66% {
    transform: translate(50px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes ball-triangle-path-2 {
  33% {
    transform: translate(25px, 50px);
  }
  66% {
    transform: translate(-25px, 50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes ball-triangle-path-3 {
  33% {
    transform: translate(-50px, 0px);
  }
  66% {
    transform: translate(-25px, -50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes ball-pulse-sync {
  33% {
    transform: translateY(10px);
  }
  66% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
